/*	General	*/

.bold{font-weight:bold;}

/*	Fin general	*/


/*	Premiere de couv	*/

.pagePremiereDeCouvDU{background:url("../../medias/images/documentUnique/fond.jpg") repeat-x scroll 0 0 transparent; height:1024px; margin:0; padding:0; width:650px; z-index:0;}

.infosPrincipalesPremiereDeCouvDU{height:190px;padding:188px 25px 0;text-align:center;width:500px;}

.titrePrincipalPremiereDeCouvDU{font-size:27px;font-style:italic;font-weight:bold;}
.sousTitrePremiereDeCouvDU{font-size:17px;}
.separationElementsTitrePrincipalCouvDU{margin:0px 0px 20px;border-collapse:collapse;}

.infosBasPremiereDeCouvDU{padding:330px 0px 0px 0px;}
.tableauInformationsBasPremiereDeCouvDU{margin:0px auto;width:80%;}
.tableauInformationsBasPremiereDeCouvDU td{border:1px solid #000000;vertical-align:top;padding:0.2cm;}

.footerPremiereDeCouvDU{height:63px;width:650px;font-size:11px;text-align:center;vertical-align:bottom;}

/*	Fin premiere de couv	*/



/*	Page DU		*/

.pageDU{height:1024px;margin:0px;padding:0px;width:650px;}

.headerDU{height:91px;vertical-align:top;}
.headerDU img{width:650px;}

.contentPageDU{vertical-align:top;}

.footerDU{height:75px;width:650px;border:1px solid #000000;}

.footer{width:100%;height:100%;}
.footer .titreFooterDU{font-weight:bold;}

.titrePrincipalPageDU{font-size:16px;font-weight:bold;padding:20px 5px;}
.sousTitrePrincipalPageDU{font-size:14px;font-weight:bold;padding:10px 5px 10px 35px;}

.petitTitreGrasPageDu{font-size:12px;font-weight:bold;padding:5px 0px 5px 70px;}

.paragraphe1{font-size:11px;text-align:justify;padding:10px 5px 10px 45px;}
.paragraphe2{font-size:11px;text-align:justify;padding:10px 5px 10px 75px;}

.puces{font-size:11px;padding:0 0 0 80px;text-align:justify;}
.imageIllustration img{margin:0px auto;width:650px;}

/*	Fin page DU	*/

/*	Contenu	DU*/

.tableauExplicationNotationRisque{margin:10px auto;text-align:center;width:300px;border-collapse:collapse;}
.tableauExplicationNotationRisque td{border:1px solid #000000;}
.enTeteTableauExplicationNotationRisque{background-color:#9A9A9A;font-size:17px;font-weight:bold;}
.notationRisqueInacceptable{background-color:#000000;color:#FFFFFF;font-size:14px;font-weight:bold;}
.notationRisqueATraiter{background-color:#FF0000;font-size:14px;font-weight:bold;}
.notationRisqueAPlanifier{background-color:#FFCD00;font-size:14px;font-weight:bold;}
.notationRisqueFaible{font-size:14px;font-weight:bold;}
.soustitrenoextrapadding {font-size:12px;font-weight:bold;padding:5px 0 5px 70px;}

/*	Fin contenu	DU*/



/*	Sommaire	*/

.titrePrincipalPageSommaire{font-size:27px;font-weight:bold;font-style:italic;padding:20px 0 20px 35px;text-align:center;width:100%;}

.grandTtitreSommaireDU{font-size:16px;font-weight:bold;padding:20px 0 20px 35px;width:600px;}
.sousTitreSommaireDU{font-size:14px;font-weight:bold;padding:10px 0 10px 65px;width:600px;}
.titreParagrapheSommaireDU{font-size:12px;font-weight:bold;padding:0px 0 0px 100px;width:600px;}

.numeroPageGrandTitreSommaireDU{font-size:16px;font-weight:bold;text-align:right;width:30px;}
.numeroPageSousTitreSommaireDU{font-size:14px;font-weight:bold;text-align:right;width:30px;}
.numeroPageTitreParagrapheSommaireDU{font-size:12px;font-weight:bold;text-align:right;width:30px;}

/*	Fin du sommaire	*/
