#listeDeChoix input {width:100px;}

#addChoice	{font-size:10px;font-weight:bold;cursor:pointer;}
#addChoice :hover	{text-decoration:underline;}

#emptyChoice	{display:none;}

.imgSupprimeChoix	{vertical-align:middle;cursor:pointer;}


.attributes-list a	{	cursor:pointer;	}