img{ cursor:pointer; }
a{ cursor:pointer; }
.required{ color:#FF0000;	}

.column-danger-code { width: 4%; }
tr.odd td.check-column, tr.even td.check-column { padding: 7px; }
.plus-column { font-weight : bolder; width: 10px; padding: 5px; }
.column-danger-designation {  }
.sans_puce { list-style-type: none; }
.noPadding { padding: 0 !important;}
.radioPictoCategorie {float:left; margin-right:2%; margin-bottom:2%;}
.radioPictoCategorie img {vertical-align:middle; max-width:48px; cursor:pointer; }

.white_background th{	background:none #FFFFFF !important;	}

.tabcroisillon{	margin:6px 0px;	}

.middleAlign{	vertical-align:middle !important; }

.treeTable td {	vertical-align:middle;	}
.treeTableGroupInfoColumn, .treeTableInfoColumn {	cursor:pointer;	}

.actionForExistingElement{	margin:3px 0px;	}
.existingElementMainExplanation{	font-size:10px; margin:0px 0px 15px;	}



#saveNewPosition{	margin:12px 0px; float:right;	}



/* -- START PERMISSION -- */
.menuUserRight{	font-style:italic; font-size:9px; font-weight:bold;	}
.sub_module{	margin-right:5px; float:left;	}
.sub_module_name{	text-decoration:underline; font-weight:bold;	}
.sub_module_content{	font-style:italic; }
.permission_module_menu{	width:25% !important;	}
.permissionGranted{	color:green;	}
.permissionGrantedFromParent{	color:blue;	}
.userForbiddenActionCursor{	cursor:url("../../medias/images/Icones/forbidden_vs.png"),auto;	}

.digirisk_user_role_column_name{	width:60px !important;	}
.digirisk_user_role_column_action{	width:60px !important; text-align:right !important;	}
.digirisk_user_role_cell_action{	text-align:right !important;	}
.digi_permission_category_name{ font-weight:bold; }
.digi_permission_explanation{	margin:6px 0px 0px 0px; font-size:11px; font-style:italic;	}
.digi_permission_check_all{	margin:6px 0px 0px 0px; font-size:10px; font-style:italic;	}
.checkall, .uncheckall, .checkall_link, .uncheckall_link, .checkall_right, .uncheckall_right{	cursor:pointer;	}

.rightColumn{	width:30px; text-align:center !important;	}
.rightCell{	text-align:center;	}
.userAffecte{	background-color:#99FF66;	font-weight:bold; }
.userAffecteExplanation{	margin:6px 3px; padding:6px 0px; text-align:left; width:70%; }

.userTableContainer {	height:200px !important; overflow:auto !important;	}
#userPermissionManagerForm .userTableContainer {	height:auto !important; overflow:auto !important;	}

.noRight{	text-decoration:line-through;	}
.userRightMassManagement{	margin:18px 0px 0px 0px;	}


.checkAll_user_, .uncheckAll_user_, .checkAll_user_affected_, .uncheckAll_user_affected_{ cursor:pointer; margin:0px 0px 6px;	}

.userRightManagement_overflow{	overflow-y:scroll;	}

#evaUserInformation div label		{	width:15em;	}
/* -- END PERMISSION -- */

/* -- START TRASH -- */
.elementTrashContainer{	border-top:1px solid grey !important; margin:12px 0px; min-height:150px;	}
.elementTrashContainer th{	background: none #FFFFFF !important;	}
.elementTrashContainer  .dataTables_wrapper{	min-height:150px;	}
.trashContentCenter{	text-align:center; width:80%; margin:12px auto;	}

.trashPicColumn{	width:10% !important;	}
/* -- END PERMISSION -- */

#digirisk_options_container th{	width:45% !important; padding:2px;	}
#digirisk_options_container td{	padding:2px;	}
#taille_photo_poste_fiche_de_poste{	width:46px;	}
#digirisk_options_container .form-table{		margin:0px 12px !important;	}
.digirisk_options_categories_list{	margin-left: 1.3em;	}
.evarisk_options_explanation{	font-weight:bold; font-style:italic;	}

.dataTables_length{	width:50% !important;	}
.dataTables_paginate{	margin:12px 24px;	}
.dataTables_filter{	float:right; /*width:15% !important;*/	}
.dataTables_filter .ui-icon{	float:left;	}
.dataTables_filter input{	float:left;	}
.searchDataTableIcon{	background: url("../../medias/jquery_pics/ui-icons_222222_256x240.png") !important; background-position: -160px -112px !important; width:16px; height:16px; margin:3px 0px;}
.deleteLinkBetwwenRiskAndPicture{	background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;	}

.editDataTableRow{	cursor:pointer;background-position:-64px -112px;	}
.closeLightBoxContainer{	height:16px;font-size:9px;float:right;margin:0px 0px 3px;cursor:pointer;	}
.closeLightBoxIcon{	background-position: -80px -128px !important; }
.hide{	display:none;	}
.marginSideAuto{	margin:0px auto;}
.marginBotTopAuto{	margin:auto 0px;}
.noResultInBox{	margin:6px auto; width:60% !important; font-weight:bold;	}
.italic{	font-style:italic;	}

#divFicheDePoste{	padding:12px 3px;	}

.messageIcone{	vertical-align:middle;	}
.evaMessage{	width:60%;margin:0px auto !important;text-align:center !important;padding:6px 0px !important;	}


/* -- Boutons choix affichage enlarging -- */
#choseEnlarging{display: inline; vertical-align: top; margin-bottom:12px; margin-left:10px;}
#choseEnlarging span{margin:0 10px;}
#choseEnlarging span#rightEnlarging {height:19px; width:32px;background:url(../../medias/images/Icones/Divers/btn_rightEnlarging.png) !important;display:inline-block;cursor:pointer;}
#choseEnlarging div#enlarging{display:inline-block;}
#choseEnlarging div#enlarging.ui-slider-horizontal {width:100px;}
#choseEnlarging span#leftEnlarging {height:19px; width:32px;background:url(../../medias/images/Icones/Divers/btn_leftEnlarging.png) !important;display:inline-block;cursor:pointer;}
/* -- END Boutons choix affichage enlarging -- */

.titleInput{font-size:1.3em;}
div.inside{overflow: hidden; padding: 5px;}
/* -- Fiche Droite --*/
.partieDroite { border-left:1px solid #CCCCCC; padding-left : 0.5%; }
/* -- END Fiche Droite --*/

/* -- Listes format grille -- */
.listeEnLigne li { float: left; padding:5px; width:30.15%; margin: 0; border-right:1px solid #DFDFDF; }

.containerElement td { border:1px solid #DFDFDF; border-top:none; border-bottom:none;}
.containerElement .nomInfoElement { border-right:none; padding-bottom:0.5em; padding-top:0.5em; vertical-align: middle;}
.containerElement .deuxPoints { border:none; text-align: center; padding: 0 !important; vertical-align: middle;}
.containerElement .valeurInfoElement { border-left:none; text-align: right; vertical-align: middle;}
.containerElement .pagination { border:1px solid #DFDFDF;}

.containerElement p { padding:5px;}

.element { padding : 5%;}

.nomElement { text-align: center; font-weight: bold;}
.edited { background-color: #F3F3F3;}

.photoElement { text-align: center;}
.photoElement img { max-width: 100%;}

.cbColumnLarge { width: 10%;}
.cbNbUserGroup { width: 15%;}
.icon32 img{ width:36px; }
/* -- END Listes format grille -- */

/* -- Boutons SELECT EDIT --*/
.boutonInfos { float: right;text-align: center;display: block;width: 80px;margin-top: 3%;margin-right:3%; }
.boutonInfos img{ vertical-align: middle; padding-right:5px; }

#boutonAvanceRisque:hover { cursor:pointer; color:#8B0304; }
/* -- END Boutons SELECT EDIT -- */

#filAriane {margin:15px 0px 5px 0px;font-size:12px; }

/* -- Boutons choix affichage -- */
#choixAffichage { display:inline;margin:5px 0px; }

#choixAffichage span.textAffichage {
	text-decoration:underline;
}

#choixAffichage a.selectedAffichage {
	font-weight:bold;
	color:#000000;
	text-decoration:none;
}

#choixAffichage a:hover.selectedAffichage {
	cursor:auto;
}

#choixAffichage a {
	text-decoration:none;
	color:#000000;
}

#choixAffichage a:hover {
	text-decoration:none;
	font-weight:bold;
	cursor:pointer;
}
/* -- END Boutons choix affichage -- */


.textPagination{
	text-align: right;
	width: 5%;
}

.flechePere{
	float: left;
	height: 26px;
	margin-left:5px;
	width:25px;
	cursor:pointer;
}

.nomFeuilleArbre
{
	cursor:pointer;
}
.nomNoeudArbre
{
	cursor:pointer;
}
.cursormove
{
	cursor:move;
}

.postbox .handlediv {
	margin-left:20px;
}

/* -- Menu AJOUTER -- */
.favorite-action {
	float:right;
	margin: 1px;
	position:relative;
}

.favorite-first {
	-webkit-border-radius:12px 12px 12px 12px;
	-moz-border-radius:12px 12px 12px 12px;
	border-radius:12px 12px 12px 12px;
	background: url("../../medias/image/fav.png") repeat-x scroll left center #797979;
	border-color: #777777 #777777 #666666 !important;
	border-style:solid;
	border-width:1px;
	line-height:15px;
	padding:3px 30px 4px 12px;
	width:70px;
}

.favorite-first a:hover {
	cursor:default;
	color:#DDDDDD!important;
}

.favorite-inside {
	-webkit-border-radius:0 0 12px 12px;
	-moz-border-radius:0 0 12px 12px;
	border-radius:0 0 12px 12px;
	background-color: #797979;
	border-color: #797979;
	border-style:solid;
	border-width:1px;
	display:none;
	margin:0;
	padding:0 1px 6px;
	position:absolute;
	z-index:11;
}

.favorite-inside a {
	padding:3px 5px 3px 10px;
}

.favorite-inside a:hover {		text-decoration: underline;	}

.favorite-toggle {		background: url("../../medias/images/Icones/Divers/fav-arrow.gif") no-repeat scroll 0 -4px transparent;		height:22px;		position:relative;		right:0;		top:1px;		width:28px;		cursor:pointer;	}

.favorite-actions .slide-down {		-webkit-border-radius:12px 12px 0 0;		-moz-border-radius:12px 12px 0 0;		border-radius:12px 12px 0 0;		border-bottom-color: #626262;		border-bottom-style:solid;		border-bottom-width:1px;	}

.favorite-actions {		float:right;		margin: 1px;		position:relative;	}

.favorite-actions a {		display:block;		font-size:11px;		text-decoration:none;		color: #DDDDDD;	}

.favorite-actions a:hover {		color: #FFFFFF;	}
/* -- END Menu AJOUTER -- */


/* -- Liste catégorie danger -- */
.expander{		display: none;	}
.aFils .expander{		display: inline;	}
.actionButtonList{		width: 20%;	}
.infoList{		width: 20%;	}	
/* -- END Liste catégorie danger -- */


/* -- Galery photo -- */
ul.thumbs li	{		display: inline;	}
ul.thumbs img	{		max-width: 15%;	}
div.galeryPhoto	{		width: 100%;	}
div.slideshow a	{		text-decoration: none;	}
div.slideshow img	{		max-width: 100%;		margin-bottom: 3px;	}
.bottom.pagination	{		background-color: transparent;		border: 0;		padding: 10px;	}
.bottom.pagination a	{		margin: 3px;	}
.caption-container	{		float:right;		background-color:#F5F5F5;		padding:10px;	}
.caption-container img	{		vertical-align:middle;	}
.pictureDeletion, .pictureDefaultSelection	{		cursor:pointer;	}
.caption div	{		cursor:pointer;	}
.galeryPhoto .navigation	{		text-align:center;	}
/* -- END Galery photo -- */


/* -- Veille référentiel -- */
.listeCreationVeille li	{		display: inline;		margin-right: 60px;	}
.veille-reponse-titre	{		font-weight:bold;	}
.veille-reponse-extraitTexte	{		border:1px solid #000000;		background-color:#FFFFCC;		text-align:justify;		font-size:11px;		margin:0px 24px;		padding:3px;	}
.veille-response-container	{	}
.veille-reponse-response	{		font-size:14px;		margin:0px 0px 9px 0px;	}
.veille-response	{		margin:0px 12px 0px 0px;	}
.veille-response-input	{		width:50px;	}
.veille-right-menu li	{		border:1px solid #E3E3E3;		color:#21759B;		background-color:#F2F1EF;		font-size:11px;	}

.observationTropLongue	{		vertical-align: top;	}
/* -- END Veille référentiel -- */


/* -- Partie droite -- */
.titleDiv /* bientôt à enlever*/	
{		font-size: 1.3em;		font-weight: bold;	}
.titleInfo	{		font-size: 1.3em;		font-weight: bold;		border: none !important;		background-color: transparent !important;	width:150%;	}
.titleInfo:hover	{		border: 1px solid #646464 !important;	cursor:pointer !important;	}
.titleInfoSelected	{		border: 1px solid #646464 !important; }
.mainInfos2	{		text-align: center;	}
/* -- END Partie droite -- */


/* -- Risques -- */
.risqueInfo	{		-webkit-border-radius:12px;		-moz-border-radius:12px;		border-radius:12px;	}
.risque2Info, .Seuil_2	{		color: white;		background-color: orange;	}
.risque3Info, .Seuil_3	{		color: white;		background-color: red;	}
.risque4Info, .Seuil_4	{		color: white;		background-color: black;	}
.risque5Info, .Seuil_5	{		color: white;		background-color: red;	}
.risque6Info, .Seuil_6	{		color: white;		background-color: black;	}
.risque2Text	{		color: orange;	}
.risque3Text	{		color: red;	}
.risque4Text	{		color: black;	}
.risque5Text	{		color: red;	}
.risque6Text	{		font-size : 1.7em;		font-weight : bolder;		color: black;	}

.columnRId{	width:5% !important; vertical-align : middle !important;	}
.columnQuotation{	width:10%; vertical-align : middle !important;	}
.columnNomDanger,
.columnEtat	{		width: 16%;		padding: 1px !important;		vertical-align : middle !important;	}

.columnDescriptionDanger	{		width: 26%;		padding: 1px !important;		vertical-align : middle !important;	}

.columnCommentaireRisque	{		width: 40%;		padding: 1px !important;		vertical-align : middle !important;	}

.columnNomElementMassUpdater	{	width:10%; font-size:10px;	}
.columnQuotationMassUpdater	{	width:10%; font-size:11px; text-align:center;	}
.columnRIdMassUpdater	{	width:8%; font-size:11px; text-align:center;	}
.columnNomDangerMassUpdater	{	width:10%; font-size:10px;	}
.columnCommentaireRisqueMassUpdater	{		}
.columnCommentaireRisqueMassUpdater textarea, .columnActionPrioritaireRisqueMassUpdater textarea{		width: 98%;	}
.columnActionPrioritaireRisqueMassUpdater{	text-align:center; vertical-align:middle;	}
.columnCBRisqueMassUpdater{	width:2%; vertical-align:middle !important;	}
.risqMassUpdaterChooserExplanation{	margin:6px 0px 0px 0px; font-size:11px; font-style:italic;	}
.massUpdaterChecbkoxAction{	font-size:11px; cursor:pointer;	}

#risqMassUpdater .dataTables_wrapper{	min-height:50px;	}
#risqMassUpdater{		}
.massUpdaterListing{	overflow:auto !important; height:450px;	}

#divVoirRisques{	padding:9px 0px 3px 4px;	}
#formRisque{	margin:0px 0px 3px 4px;	}
#risqManagementselector{	margin:0px 0px 12px;	}
#addRisqNormalMode, #addRisqAdvancedMode{ margin:3px 9px; padding:3px 9px; border:1px solid #DDDDDD; background-color:#E6E6E6; cursor:pointer; }
#addRisqNormalMode.selected, #addRisqAdvancedMode.selected{ text-decoration:underline; background-color:#FFFFFF; font-weight:bold; }

.checkboxRisqMassUpdaterSelector_top, .checkboxRisqMassUpdaterSelector_bottom{	width:18px; vertical-align:middle; margin:0px 12px;	}
.checkboxRisqMassUpdaterSelector_top{	margin-top:5px;	}
.checkboxRisqMassUpdaterSelector_bottom{	margin-bottom:10px;	}

.columnQuotation, .columnRId	{		text-align: center !important;	}
/*,
th.columnNomDanger,
th.columnEtat,
th.columnDescriptionDanger,
th.columnCommentaireRisque*/

.explicationVariable	{		border:1px solid #000000;		background-color:#FFFFCC;		text-align:justify;		font-size:11px;		margin:1% 24px;		padding:3px;	}
#pictureToAssociateToRisk .qq-uploader .qq-upload-button{		width:90% !important;		padding:7px;	}
.deleteLinkBetweenRiskAndPicture{	background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png"); background-position: -80px -128px;	width:16px;height:16px;}
.riskPictureThumbs{	max-width: 20%;	}

#choixMethodeEvaluation{	clear:both;	}
/* -- END Risques -- */


/* -- Tabs -- */
.eva_tabs_panel	{		border-color:#DFDFDF;		border-style:solid;		border-width:1px;		overflow:auto;		padding:0px;		margin:0px;	}
ul.eva_tabs	{		margin-top:12px;	}
ul.eva_tabs li	{		border-style:solid solid none;		-webkit-border-radius:3px 3px 0 0;		-moz-border-radius:3px 3px 0 0;		border-radius:3px 3px 0 0;		padding:5px 8px;		border-color:#DFDFDF;		background-color : #E6E6E6;		border-width:1px 1px 0;		margin-bottom:3px;		margin-top:12px;	}
ul.eva_tabs li label	{		font-weight:bold;		text-decoration:none;	}
ul.eva_tabs li.selected_tab	{		background-color : #F6F6F6;	}
ul.eva_tabs_button li	{		-webkit-border-radius:1em;		-moz-border-radius:1em;		border-radius:1em;		/*background-color:#F6F6F6;*/	}
ul.eva_tabs_button 	{		margin-bottom:8px;	}
ul.eva_tabs_button li label	{		padding-bottom:3px;	}
.tabs{	display:inline; margin-left:0.4em;	}
.ui-tabs{	padding:0px !important; }
.ui-tabs .ui-tabs-nav{	padding:0px !important;	}
#evaDashboard_vracStats .inside{		padding:0px !important;	}
.ui-tabs .ui-tabs-nav li a{		padding:0.1em 1em !important;	}
/* -- END Tabs -- */


/* -- Sliders -- */
.sliderValue	{		border:0 none !important;		background:none !important;		font-weight:bold;		width:15%;	}
.slider_variable	{		width: 100px;	}
/* -- END Sliders -- */


/* -- Setup -- */
#evariskSetup	{		width: 98%;	}
#evariskSetup td	{		border-bottom : solid 10px transparent;	}

.setupTitle	{		width: 20%;	}

.cbSetup	{		float: left;	}
.cbEPISetup	{		margin-left: 5%;	}
/* -- END Setup -- */


/* -- Upload -- */
.thumbnailUpload	{		max-width: 200px;	}
.thumbnailUpload img	{		width: 100%;	}
/* -- END Upload -- */


/* -- Actions correctives -- */
#informationGeneralesTache .inputCategorieMere	{		margin:6px 0px;		width:100%;	}
#informationGeneralesActivite .inputCategorieMere	{		margin:6px 0px;		width:100%;	}

#needDangerCategory .ui-tabs .ui-tabs-nav {		padding:0px;	}
#needDangerCategory .ui-tabs .ui-tabs-nav li {		margin:0px;	}
#needDangerCategory .ui-tabs .ui-tabs-nav li a {		padding:0.1em;	}
#needDangerCategory .ui-tabs .ui-tabs-panel{		padding:0.3em;	}
.fieldInfo{		font-style:italic;		font-size:10px;	}
#date_debut_activite, #date_fin_activite{		clear:both;	}
.pointer{		cursor:pointer;	}
.ui-slider-horizontal{	width:95%;	}
#photosActionsCorrectives li.selected img{	border:1px solid #000000;	}
.pictureThumbs{	width:80%;	}
.preconisationExistante{	border:1px solid #DDDDDD; width:95%;	}
.preconisation{	margin-left:9px; font-size:10px; text-decoration:underline;	}
#taskExportButton{	margin:0px 12px;	}

.columnCollapser{	width:2% !important; }
.columnVariableRisque{	width:5% !important; text-align:center;	}
#suiviActionsCorrectiveElement_wrapper{	margin:9px 0px;	}
td.details{	background-color:#FFFFFF !important; padding:0px !important;	}
td.details table{	margin:0px 0px 24px !important;	}
.loadAssociatedTask_elt_name{	padding:0px 15px 0px !important;	}
#suiviActionsCorrectiveElement th{ background:none #FFFFFF !important; }
.CorrectivActionFollowStateActionColumn{	width:5%;	}
.correctiveActionSelecteduserOP{	padding:3px 6px; background-color:#DDDDDD; margin:0px 6px 3px; white-space:no-wrap; float:left;	-webkit-border-radius:1em;	-moz-border-radius:1em;	border-radius:1em;}
.correctivActionDetailsFieldName{	text-decoration:underline; font-weight:bold; padding:3px;	}
.correctiveActionFollow .dataTables_wrapper{		min-height:50px;	}
.correctivActionPicture{	text-align:center;	}
#correctionActionPictureTable{	width:100%;	}
/* -- END Actions correctives -- */


/* -- START USER GROUPS -- */
.digirisk_user_groups_column_action{	width:60px !important;	}
.digiriskUserGroupEditionName{	font-style:italic; text-decoration:underline;	}
.digiriskUserGroupDetails{	width:70%;	}
/* -- END USER GROUPS -- */


/* -- START LINK USER ELEMENT -- */
.userListOutput{	height:230px;	width:100%;	overflow:auto;	padding:3px 0px; margin:6px 0px;	}
.selecteduserOP{	padding:3px 6px; background-color:#DDDDDD; margin:0px 6px 3px; white-space:no-wrap; float:left;	-webkit-border-radius:1em;	-moz-border-radius:1em;	border-radius:1em;}
.selecteduserOP:hover{	text-decoration:line-through; cursor:pointer; color:#CC0000;	}
.deleteUserFromList{	float:right; background: url("../../medias/jquery_pics/ui-icons_222222_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;	}
.deleteUserFromList:hover{	float:right; background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;	}

.searchUserToAffect{	float:left; width:90%; color:#888888;	}
.searchUserInput{	float:left; background: url("../../medias/jquery_pics/ui-icons_222222_256x240.png"); background-position: -160px -112px; width:16px; height:16px; margin:3px 0px;}

.userIsLinked{	background: url("../../medias/jquery_pics/ui-icons_66cc33_256x240.png") !important; background-position: -64px -144px !important; width:16px; height:16px;}
.userIsLinked:hover, .unlinkUser{	background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;}
.userIsNotLinked{	background: url("../../medias/jquery_pics/ui-icons_888888_256x240.png") !important; background-position: -96px -144px !important; width:16px; height:16px;}
.userIsNotLinked:hover, .linkUser{	background: url("../../medias/jquery_pics/ui-icons_888888_256x240.png") !important; background-position: -64px -144px !important; width:16px; height:16px;}

.addLinkUserElement{	padding:3px 0px;	}
.addUserButtonDTable{	width:5%;	}
.completeUserList{	height:190px; overflow:auto;	}
.completeUserList .odd, .completeUserList .even{	cursor:pointer;	}

.checkAll, .uncheckAll{ font-size:9px;cursor:pointer;	}

.userIdentifierColumn{	width:8%;	}

.ac_results li{	color:#242424 !important;	}
.ac_over {		background-color:#DDDDDD !important;	}
/* -- END LINK USER ELEMENT -- */


/* -- Options -- */
.optionsActionColumn{	width:30px !important;	}
/* -- End options -- */

/* -- Recommandation -- */
.recommandationIconColumn{	width:20px !important; text-align:right !important;	}
.recommandationActionColumn{	width:40px !important;	}
.recommandationEfficiencyColumn{	width:40px !important; text-align:center !important;		}
#recommandationForm label, #recommandationForm input{	display:block;	}
#recommandationForm fieldset { padding:0; border:0; margin-top:0px; }
.recommandationInterfaceContainerPart{	width:49% !important;	}
.recommandationInput { margin-bottom:12px; width:95% !important; padding: .4em; }
.recommandationFormErrorMessage {	margin:3px !important;	}
.recommandationDefaultPictosList{		vertical-align:middle;max-width:48px !important;	}

.recommandationCategoryDefaultPictosList{		vertical-align:middle;	}
.recommandationCategoryBloc{	margin:0 1%;width:65px;text-align:center;padding:9px 0px;	}
.recommandationCategoryName{	font-style:italic; font-size:9px;	}

.recommandationCategorySelected, .recommandationSelected{	background-color:#DDDDDD;	}

.recommandationBloc{	margin:1% 0;width:15%;text-align:center;height:55px;padding:9px 0px;	}
.recommandationName{	font-style:italic; font-size:9px;	}
#recommandationContainer{	margin:0px; border:1px solid grey; }
#recommandationFormContent label{	margin:6px 0px 0px;	}

#divAjoutPreconisation{	padding:1em;overflow:none !important;	}
.recommandationIconUploadButton{	float:right;width:80%;	}
.recommandationMainIcon{	float:left;width:19%;	}
.recommandationMainIcon img{		max-width:95%;	}
#recommandationPictureGalery .thumbnailUpload, #recommandationCategoryPictureGalery .thumbnailUpload{		max-width:48px !important;	}
#recommandationPictureGalery div.slideshow img, #recommandationCategoryPictureGalery div.slideshow img{		max-width:48px !important;	}
#recommandationPictureGalery .qq-upload-button, #recommandationCategoryPictureGalery .qq-upload-button{		width:50% !important;	}
#divListePreconisation .dataTables_filter{ /*width:50% !important;*/}
.addRecommandationBox{	margin:1.5em 0 0 0.5em; height:30px;	}
.recommandationCategoryExplanation{	margin:6px 0px 6px;	}
#recommandationNameIndication{	font-style:italic; font-size:10px; font-weight:bold;	}
.recommandationCategoryOption{	font-size:11px;	}
.recommandationCategoryOptionLabel{	font-size:10px; font-style:italic;	}
.recommandationCategoryOptionChoice{	float:left ;margin:0px 12px 0px;	}
.recommandationCategoryOptionPicSizeContainer{	 clear: both; margin: 3px auto 0; text-align: center; width: 60%;	}
.recommandationCategoryOptionPicSizeContainer input{	 width: 20% !important;	}
/* -- End Recommandation -- */


/* -- Document unique -- */
#generateDUER, #generateFP, #generateFGP, #generatedDUER, #generatedFP, #generatedFGP{ margin:3px 9px; padding:3px 9px; border:1px solid #DDDDDD; background-color:#E6E6E6; cursor:pointer; }
#generateDUER.selected, #generateFP.selected, #generateFGP.selected, #generatedDUER.selected, #generatedFP.selected, #generatedFGP.selected{ text-decoration:underline; background-color:#FFFFFF; font-weight:bold; }
#saveWorkUnitSheetForGroupement{	margin:6px auto;	}
#workUnitSheetCollectionModelSelector{	margin:6px;	}
#documentModelContainer{	width:40%;	}
#documentFormContainer{	width:60%; text-align:center;	}
.duerODTFileLink{	text-align:right; padding:0px 6px;	}
.DUERReGenerationButton{	border:0px solid black;	}
.DUERContainer{ height:200px; overflow:auto; }
.FGPContainer{ height:100px; overflow:auto; }
.FPContainer{ height:200px; overflow:auto; }
#divHistoriqueDocument{	height:410px !important; overflow:hidden !important;	}
.duerDeleteContainer{	width:20px !important;	}
.duerDeleteContainer img{	width:15px !important;	}
/* -- End Document unique -- */



/* -- Notes -- */
#noteTaker{	float:right; margin:15px; }
#digiNotes{	text-align:center; }
.noteTakerPic{	max-width:18px;	}
.noteInput {	width:99%; height:93%; padding: .4em; }
#noteSaverMessage{	text-align:center;	width:70%;	margin:0px auto;	padding:3px 0px;	}
/* -- End Notes -- */


/* -- Start Affectation box -- */
.affectationCompleteListOutput{	width:40%;	}
.affectedElementListOutput{	height:230px;	width:100%;	overflow:auto;	padding:3px 0px; margin:6px 0px;	}
.selectedelementOPContainer{	padding:3px 6px; background-color:#DDDDDD; margin:0px 6px 3px; white-space:no-wrap; float:left;	-webkit-border-radius:1em;	-moz-border-radius:1em;	border-radius:1em;}
.trashed_product{	background-color:red !important;	}
.selectedelementOP:hover{	text-decoration:line-through; cursor:pointer; color:#CC0000;	}
.selectedelementGPU{	padding:3px 6px; background-color:#DDDDDD; margin:0px 6px 3px; white-space:no-wrap; float:left;	-webkit-border-radius:1em;	-moz-border-radius:1em;	border-radius:1em;}
.selectedelementGPU:hover{	text-decoration:line-through; cursor:pointer; color:#CC0000;	}
.deleteElementFromList{	cursor:pointer; float:right; background: url("../../medias/jquery_pics/ui-icons_222222_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;	}
.deleteElementFromList:hover{	cursor:pointer; float:right; background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;	}

.searchElementToAffect{	float:left; width:90%; color:#888888;	}
.searchElementInput{	float:left; background: url("../../medias/jquery_pics/ui-icons_222222_256x240.png"); background-position: -160px -112px; width:16px; height:16px; margin:3px 0px;}

.elementIsLinked{	background: url("../../medias/jquery_pics/ui-icons_66cc33_256x240.png") !important; background-position: -64px -144px !important; width:16px; height:16px;}
.elementIsLinked:hover, .unlinkUser{	background: url("../../medias/jquery_pics/ui-icons_cd0a0a_256x240.png") !important; background-position: -80px -128px !important; width:16px; height:16px;}
.elementIsNotLinked{	background: url("../../medias/jquery_pics/ui-icons_888888_256x240.png") !important; background-position: -96px -144px !important; width:16px; height:16px;}
.elementIsNotLinked:hover, .linkUser{	background: url("../../medias/jquery_pics/ui-icons_888888_256x240.png") !important; background-position: -64px -144px !important; width:16px; height:16px;}

.noElementLinked{	margin:5px 10px;color:#646464;	}
.addLinkElement{	padding:3px 0px;	}
.addElementButtonDTable{	width:5%;	}
.completeList{	height:190px; overflow:auto;	}
.completeList .odd, .completeList .even{	cursor:pointer;	}

.checkAll, .uncheckAll{ font-size:9px;cursor:pointer;	}

.ac_results li{	color:#242424 !important;	}
.ac_over {		background-color:#DDDDDD !important;	}
/* -- End Affectation box -- */


/* -- Start Product affectation box -- */
.view_affected_product_sheet, .edit_affected_product_sheet{	width:20px; vertical-align:middle	}
.affected_product_action{	text-decoration:none !important;	}
/* -- End Product affectation box -- */


/* -- Start form -- */
.digirisk_form_label{	width:20%; vertical-align:top;	}
.digirisk_form_input{	width:50%;	}
.digirisk_form_input textarea, .digirisk_form_input select, .digirisk_form_input input[type=text], .digirisk_form_input input[type=file]{	width:60% !important;	}
.digirisk_form_input input[type=radio], .digirisk_form_input input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}

.pageHeaderButton{	float:right; padding:17px 18px 0px 0px;	}
.cancelButton{	padding:8px 0px 0px !important;	}
/* -- End form -- */